@import url('https://fonts.googleapis.com/css?family=Josefin+Slab:100');
body{
    margin:0;
    padding: 0;
    display: flex;
    justify-content:center; 
    align-items: center;
    height: 100vh;
    background-image:url("https://png.pngtree.com/thumb_back/fh260/background/20191113/pngtree-abstract-wallpaper-desktop-design-image_321812.jpg"); 
    /*background: #111;*/
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Bad Script' , cursive;
}
h1{
    margin: 0;
    padding: 0;
    font-size: 7em;
}
h1 span{
    display: table-cell;
    margin: 0;
    padding: 0;
    animation: animate 1s linear forwards;
}
h1 span:nth-child(1){
    animation-delay: 0s;
}
h1 span:nth-child(2){
    animation-delay: 0.25s;
}
h1 span:nth-child(3){
    animation-delay: 0.5s;
}
h1 span:nth-child(4){
    animation-delay: 0.75s;
}
h1 span:nth-child(5){
    animation-delay: 1s;
}
h1 span:nth-child(6){
    animation-delay: 1.25s;
}
h1 span:nth-child(7){
    animation-delay: 1.5s;
}
h1 span:nth-child(8){
    animation-delay: 1.75s;
}
h1 span:nth-child(9){
    animation-delay: 2s;
}
h1 span:nth-child(10){
    animation-delay: 2.25s;
}
@keyframes animate{
    0% , 100% 
    {
        color: black;
        filter: blur(0.5px);
        text-shadow: 0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red,
                    0 0 10px red;
    }
    5% , 95% 
    {
        color: #111;
        filter: blur(0px);
        text-shadow: none;
    }
}


